/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */


/****************************************************
					GENERAL SECTION
***************************************************/
html,body{
	width: 100%;
	height: 100%;
}

h1,h2,h3,h4,h5,h5{
	font-family: 'Raleway' ,sans-serif;
}
p{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 24px;
	font-weight: 400;
}

a,
a:focus,
a:hover{
	text-decoration: none;
}

section{
	background: #FFF;
}

/****************************************************
					GENERAL BUTTONS
***************************************************/

.btn-general{
	font-family: 'Raleway', sans-serif;
	border-radius: 30px;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 6px;
	padding: 12px 46px;
	transition: all .5s;
}

.btn-green{
	color: #FFF;
	background:#5c9320;
}
.btn-green:hover,
.btn-green:focus{
	color: #FFF;
	background: #212226;
	
}

.btn-white{
	color: #212226;
	background:#FFF;
}
.btn-white:hover,
.btn-white:focus{
	color: #FFF;
	background: #212226;
	
}

.btn-gradient{
	color: #FFF;
	background-size: 200% auto;
	background-image: linear-gradient(to right,#5c9320 0%,#63c600 51%, #5C9320 100% ); 
}

.btn-gradient:hover,
.btn-gradient:focus{
	color: #FFF;
	background-position: right center;
}

/****************************************************
					LINE ICON SETTING 
***************************************************/
[class*='lni-']{
	display: inline-block;
}


/****************************************************
					CONTENT BOXES
***************************************************/
.content-box-lg{
	padding: 120px 0;
}
.content-box-md{
	padding: 100px 0;
}
.content-box-sm{
	padding: 90px 0;
}

/****************************************************
					HELPER CLASS
***************************************************/
.m-b-30{
	margin-bottom: 30px;
}
.m-t-70{
	margin-top: 70px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-10{
	margin-top: 10px;
}


/****************************************************
					GENERAL HEADING
***************************************************/
.vertical-heading h5,
.horizontal-heading h5{
	color: #5c9320;
	text-transform:uppercase;
	font-size: 14px;
	font-weight: 500;
	word-spacing:9px;
}
.vertical-heading h5{
	
	display: inline-block;
	transform: rotate(-90deg);
	position: relative;
	top: 60px;
	left: -55px;
}

.vertical-heading h2,
.horizontal-heading h2{
	font-size: 26px;
	font-weight: 100;
	line-height: 45px;
}
.vertical-heading h2{
	margin: 0 0 0 35px;
}
.highlight-heading{
	color: #5c9320;
	font-weight: 700;
}
.horizontal-heading{
	text-align: center;
}
.horizontal-heading h2{
	margin: 0;
}
.horizontal-heading h5{
	margin-bottom: 5px;
}

/****************************************************
					HOME SECTION
***************************************************/
#home{
	height: 100%;
	background:none;
}

#home-bg-video{
	position: fixed;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	/*alternative fallback*/
	background: url("../video/video.jpg")no-repeat cover;
}

#home-overlay{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#home-content{
	width: 100%;
	height: 100%;	
	display: table;
}
#home-content-inner{
	display: table-cell;
	vertical-align: middle;
}

#home-heading{
	color: #FFF;
	font-size: 5rem;
	font-weight: 100;
	text-transform: capitalize;
	margin: 0;
}	
#home-text{
	color: #FFF;
	font: 17px;
	font-weight: 100;
	margin: 10px 0 30px 0;
}



.colored-text{
	color:#5c9320;
	font-weight: 500;
}

#arrow-down{
	position: absolute;
	left: 50%;
	bottom: 20px;
	color: #FFF;
	font-size: 32px;
	z-index: 1;
	margin-left: -16px;
}

#arrow-down:hover,
#arrow-down:focus{
	color: #5c9320;
}



/****************************************************
					ABOUT SECTION
***************************************************/
#about-bottom img{
	margin: 0 auto;
}

#about-02{
	background: #F4F4F4;
}
.about-item{
	background: #FFF;
	padding: 80px 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.about-item i{
	font-size: 42px;
}
.about-item h3{
	font-size: 24px;
	margin-bottom: 20px;
}
.about-item hr{
	width: 45px;
	background-color: #5c9320;
	height: 3px;
	margin: 0 auto 20px auto;
}

/*HOVER STATE*/
.about-item:hover{
	background-color:#5c9320;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}
.about-item:hover i,
.about-item:hover p,
.about-item:hover h3{
	color: #FFF;
}
.about-item:hover hr{
	background-color: #FFF;
}
.about-item:hover i{
	transform: translateY(-20px);
}

/*smooth transition*/
.about-item p,
.about-item h3{
	transition: all .4s linear;
}
.about-item,
.about-item hr,
.about-item i{
	transition: all .4s ease-in-out;
}

/****************************************************
					TEAM SECTION
***************************************************/
#team .container{
	height: 765px;
/*	border: 2px solid #f4f4f4;*/
	box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
#team .content-box-lg{
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.10);
}
#team .row{
	height: 375px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.inner-team-section1{
	margin: 10px;
	height: 355px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	margin-bottom: 15px;
}
.inner-team-section1 .col-md-6{
/*	background: #F4F4F4;*/
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	height: 355px;
}
.part1{
	height: 210px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.part2{
	height: 262px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
/*	display: inline-block;*/
/*	background: GRAY;*/
	display: flex;
	justify-content: space-between;
}
.img-div1{
	display: inline-block;
	width: 262px;
	height: 262px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
/*	margin-right: 17px;*/
}
.img-div2{
	display: inline-block;
	width: 262px;
	height: 262px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
/*	margin-right: 0;*/
}
.new-section{
	height: 60px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	display: flex;
/*	width: 540px;*/
	justify-content: center;
}
.inner-new-section{
	width: 95px;
	height: 40px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.inner-team-section2{
	height: 355px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.sub-section1{
	height: 175px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	background: gray;
}
/****************************************************
					LOADER
***************************************************/

.loader{
	/*Make FullScreen*/
	width: 100%;
	height: 100%;
	
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: #5c9320;
	background-image: linear-gradient(to right,#5c9320 2%,#63c600 82% );
	z-index: 9999;
}
.loader-inner{
	position: absolute;
	top: 50%;
	left: 50%;
	
	
/*
	margin-top: -60px;
	margin-left: -60px;
*/
	
	transform: translate(-50%,-50%);
}

.loader span{
	width: 12px;
	height: 12px;
	background: #FFF;
	border-radius: 100%;
	display: block;
	position: absolute;
	opacity: 0;
	animation: load 5s ease-in-out infinite;
}

.loader-blocks{
	width: 60px;
	height: 60px;
}
.loader span.block-1{
	animation-delay: 1.06s;
	left: 0px;
	top: 0px;
}
.loader span.block-2{
	animation-delay: .97s;
	left: 16px;
	top: 0px;
}
.loader span.block-3{
	animation-delay: .88s;
	left: 32px;
	top: 0px;
}
.loader span.block-4{
	animation-delay: .79s;
	left: 48px;
	top: 0px;
}
.loader span.block-5{
	animation-delay: .70s;
	left: 0px;
	top: 16px;
}
.loader span.block-6{
	animation-delay: .61s;
	left: 16px;
	top: 16px;
}
.loader span.block-7{
	animation-delay: .52s;
	left: 32px;
	top: 16px;
}
.loader span.block-8{
	animation-delay: .43s;
	left: 48px;
	top: 16px;
}
.loader span.block-9{
	animation-delay: .34s;
	left: 0px;
	top: 32px;
}
.loader span.block-10{
	animation-delay: .25s;
	left: 16px;
	top: 32px;
}
.loader span.block-11{
	animation-delay: .16s;
	left: 32px;
	top: 32px;
}
.loader span.block-12{
	animation-delay: .07s;
	left: 48px;
	top: 32px;
}
.loader span.block-13{
	animation-delay: s;
	left: 0px;
	top: 0px;
}
.loader span.block-12{
	animation-delay: .07s;
	left: 48px;
	top: 32px;
}
.loader span.block-13{
	animation-delay: -0.02s;
	left: 0px;
	top: 48px;
}
.loader span.block-14{
	animation-delay: -0.11s;
	left: 16px;
	top: 48px;
}
.loader span.block-15{
	animation-delay: -0.2s;
	left: 32px;
	top: 48px;
}
.loader span.block-16{
	animation-delay: -0.29s;
	left: 48px;
	top: 48px;
}



@keyframes load{
	0%{
		opacity: 0;
		transform: translateY(-95px);
	}
	15%{
		opacity: 0;
		transform: translateY(-95px);
	}
	30%{
		opacity: 1;
		transform: translateY(0);
	}
	70%{
		opacity: 1;
		transform: translateY(0);
	}
	85%{
		opacity: 0;
		transform: translateY(95px);
	}
	100%{
		opacity: 0;
		transform: translateY(95px);
	}
}